.rounded-list p{
 position: relative;
 display: block;
 padding: 0.4em 0.4em 0.4em 1em;
 *
 padding: .4em;
 margin: .5em 0;
 background: #ddd;
 color: #444;
 text-decoration: none;
 border-radius: .3em;
 transition: all .3s ease-out;
 font-size: 0.7vw;
}

.rounded-list p:hover{
 background: #eee;
}

.rounded-list p:hover:before{
 transform: rotate(360deg);
}

.rounded-list p:before{
 position: absolute;
 left: -1.3em;
 top: 50%;
 margin-top: -1.3em;
 background: #87ceeb;
 height: 2em;
 width: 2em;
 line-height: 2em;
 border: .3em solid #fff;
 text-align: center;
 font-weight: bold;
 border-radius: 2em;
 transition: all .3s ease-out;
}
.id_list{
 text-align: center;
 font-size: small;
 margin-bottom: 0px;
 padding-top: 20px;
}
.left_ofisde {
 padding-left: 0px;
}
.checkbox_id{
 position: absolute;
 transform: scale(1.9);
 opacity:0.9;
 cursor:pointer;
 z-index: 1;
 padding-bottom: 39px;
 padding-right: 27px;
}
progress {
  background-color: #00FEFD;
  border-radius: 10px;
  border: 0;
  height: 20px;
  width: 100%;
}
.pagination ul{
  display: inline-block;
}
.pagination li{
  display: inline-block;
}
.pagination-centered {
  padding: 11px 19px;
  font-size: 17.5px;
}
.pagination ul>li>a, .pagination ul>li>span{
  line-height:20px;
  padding: 4px 12px;
  text-decoration:none;
  background-color:#ffffff;
  border:1px solid #dddddd;
  border-left-width:0;
  color:#27610e;
}
.pagination ul>.active>a, .pagination ul>.active>span{
  color: #999999;
  cursor: default;
}
.center_forrer{
  text-align:center;
}
.center_header{
  text-align:center;
}
.data_board {
  float: right;
}
.inline {
  display: inline-block;
}
.left_on {
  padding-left: 20px;
}
